@charset "utf-8";

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(120, 22, 22);;
  z-index: 9999999;
  text-align:center;
  color:rgb(218, 156, 57);
  font-size: 20px;
 
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/

body{
    background:rgb(120, 22, 22);/*遷移アニメーションと同じ色を指定*/
}

body.appear{
    background:rgb(53, 53, 53);/*画面を開いた後の背景色を指定*/
    background-image: url(../images/haikei.PNG);
   background-size: cover;
  
    background-attachment: fixed;
  
    
    

  background-repeat: no-repeat;


}

.splashbg{
    display: none;
  content: "";
  position:fixed;
  transform: scale(100);
  background-color: rgb(120, 22, 22);;/*伸びる背景色の設定*/
  z-index: 999;
    /*丸のスタートの形状*/
    top:calc(50% - 1rem);/*50%から円の半径を引いた値*/
    left:calc(50% - 1rem);/*50%から円の半径を引いた値*/
  width: 2rem;
  height: 2rem;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    border-radius: 50%; 
  animation-name:PageAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
}

@keyframes PageAnime{
  0% {/*丸のスタート位置と形状*/
    transform: scale(100);
  
  }
  100% {/*丸の終了位置と形状*/
    transform: scale(0);
    display: none;/*終了時は消える*/
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
  opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
  animation-name:PageAnimeAppear;
  animation-duration:1.8s;
  animation-delay: 0.8s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
  color: rgb(191, 134, 28);
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;  
}

small{
  color:#fff;
  display: block;
  text-align: center;
}

#header{
  

  padding: 53px 0px 5px 140px;
  width: 400px;

}

section{
  padding:100px 30px;
  
  
}

section:nth-child(2n){
  background:rgba(0, 0, 0, 0.75); 

  
}

#footer{
  background:#333;
  padding:20px;}

  h3{
    font-size:50px;
    color: rgb(210, 145, 33);
    background-color: rgb(46, 46, 46);
    border-top: solid 1px rgb(210, 145, 33);
    border-bottom: solid 1px rgb(210, 145, 33);
  }
  /*画像の横幅を100%にしてレスポンシブ化*/
img{
  width: 65%;
  height: auto;
  vertical-align: bottom;/*画像の下にできる余白を削除*/
}

/*メイン画像下に余白をつける*/

.gallery{
  margin:0 0 5px 0;
  width: 72%;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*選択するサムネイル画像の設定*/

.choice-btn li{
  cursor: pointer;
  outline: none;
  background:#333;
  width:25%!important;
}

.choice-btn li img{
  opacity: 0.4;/*選択されていないものは透過40%*/
}

.choice-btn li.slick-current img{
  opacity: 1;/*選択されているものは透過しない*/
}

.choice-btn .slick-track {
  transform: unset !important;/*画面幅サイズ変更に伴うサムネイル固定*/
}

/*========= レイアウトのためのCSS ===============*/

/*エリア全体を中央寄せ*/
.wrapper{
  width:94%;
  max-width:900px;
  margin:0 auto;
}

ul{
  margin:0;
  padding: 0;
  list-style: none;
}

a{
  color: #333;
}

a:hover,
a:active{
  text-decoration: none;
}



p{
  margin:30px 0;
  word-wrap : break-word;
}


img[src="./images/IMG_0010.PNG"]
{
  width: 700px;
}
img[src="./images/IMG_0022.PNG"]
{
  width: 700px;
}

img[src="./images/IMG_0044.PNG"]
{
  width: 700px;
}
img[src="./images/IMG_0057.png"]
{
  width: 700px;
}